page-home-detail {
.like{
    float:right;
    top: 5px;
 }
 #profile-name {
    color: #444;
    font-size: 15px;
  }
  #comment-name{
    color: #444;
    font-size: 15px;
  }
   #comment-time{
    color: #444;
    font-size: 13px;
  }
   #image img{
    margin-left:15px; 
    float:left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  #content{
     margin-left:55px; 
  }

}
